---
import { Icons } from './Icons';

export interface Props {
    label?: string;
    placeholder?: string;
    value?: string;
    action: string;
    id?: string;
    fieldName?: string;
}

const { id, placeholder, value, label, action, fieldName } = Astro.props;
---

<form id={id || 'search'} class='flex items-center' action={action}>
    <label for={id || 'searchTerm'} class='sr-only'>{label || 'Search'}</label>
    <input
        type='search'
        id={id || 'searchTerm'}
        name={fieldName}
        class='bg-gray-50/20 border border-gray-500 border-r-0 text-md rounded-s-md focus:ring-brand focus:border-brand block w-full px-2 py-0.5 h-9'
        placeholder={placeholder}
        value={value}
        title='Search'
    />
    <button
        type='submit'
        class='size-9 flex items-center justify-center text-white bg-brand rounded-e-lg border border-gray-500 border-l-0 hover:opacity-65 focus:ring-4 focus:outline-none focus:ring-brand'
    >
        <Icons.searchIcon className='size-4' />
        <span class='sr-only'>{label}</span>
    </button>
</form>
